/*
  Realizado por Antonio Xocoy Rosales Para usos de Aprendizaje
  PE6AV IN6AV KINAL 2012-297
*/
body{
  background: rgb(212, 212, 212);
}

#encabezado{
  background: url('../img/3.jpg');
  background-size: cover;
}
#encabezado-titulo{
  color: rgb(255, 255, 255);
  font-family: 'Amatic SC', cursive;
  padding-left: 42%;
  padding-right: 42%;
  padding-top: 49px;
  padding-bottom: 49px;
  font-size: 10em;
}
#encabezado-titulo:hover{
  color: rgb(255, 255, 255);
  font-family: 'Amatic SC', fantasy ;
  padding-left: 42%;
  padding-right: 42%;
  padding-top: 49px;
  padding-bottom: 49px;
  font-size: 10em;
  text-shadow: 2px 2px rgb(42, 156, 198);
}

.nav-blog{
  color: #ffffff;
  font-size: 2em;
  background: rgba(0, 102, 90, 0.8);
  font-family: 'Josefin Slab',cursive;
  border-right: solid 1px #8b8b8b;
}
.nav-blog:hover {
  background: rgba(65, 65, 65, 0.84);
  font-family: 'Josefin Slab',cursive;
  color: #000;
}
.buscador{
  width: 120px;
  margin: 6px;
  height: 40px;
  padding: 5px;
  border-radius: 2px;
  border: solid 1px rgba(0, 102, 90, 0.8);
  font-size: 17px;
  background: #e7e7e7;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.buscador:focus{
  width: 185px;
  height: 40px;
 box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 210, 128, 0.67);
}
.img-footer{
  position: relative;
  z-index: 3;
  float: right;
}

.cuerpo-interno{
  background: #e8e6e6;
}
.texto-parallax{
  color: #fff ;
  vertical-align: middle;
  display: table-cell;
	vertical-align: middle;

}

.ladrillo-parallax {
  display: table;
  background-image: url("../img/ladrillos.jpg");
   height: 400px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.caja-suscriptores{
  border: solid 2px rgb(59, 155, 245);
  padding: 6px;
  border-radius: 2px;
  margin: 3px;
}
.publicar-p-parallax{
  width: 100%;
  display: table;
  background-image: url("../img/publicar-fondo.jpg");
   height: 300px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.admin-t-parallax{
  width: 100%;
  display: table;
  background-image: url("../img/admin-fondo.jpg");
   height: 250px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.caja-post{
  border: none;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom:  7px;
  padding-left: 3px;
  background: rgb(235, 235, 235);
  margin: 2px;
}
.caja-post:hover{
  box-shadow: 2px 2px rgb(213, 213, 213);
    background: rgb(240, 240, 240);
}
.titulo-p{
  font-family: 'Cormorant';
  color: rgb(75, 75, 75);
  font-size: 2em;
}
.subtitulo-p{
  font-family: 'Architects Daughter';
  font-size: 1.2em;
  float: left;
}
